<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>일기장</title>
  </head>

  <body>
    <form action="/diary" method="post">
      <p><input type="text" name="title" id="title" placeholder="title" /></p>
      <p><textarea name="body" id="body" placeholder="일기내용"></textarea></p>
      <button>submit</button>
    </form>
  </body>
</html>
