<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 화면</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input type="text" name="id" id="id" placeholder="id" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <button>로그인</button>
    </form>
  </body>
</html>
